# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
ui/app/node_modules
ui/app/.pnp
ui/app/.pnp.js

# config/env
backend/h2e_api/.env
*.env
backend/h2e_api/.env

# testing
ui/app/coverage

# production
ui/app/build
backend/h2e_api/static

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# Builds
*.zip

ui/npm-debug.log*
ui/yarn-debug.log*
ui/yarn-error.log*
ui/package-lock.json

backend/venv/

# python
*.pyc
*.idea

# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
node_modules

h2e_api/.env