.session-item {
    color: #242A31;
    border: 1px solid #E6ECF1;
    margin: 0;
    padding: 8px;
    grid-area: next;
    box-shadow: 0 3px 8px 0 rgba(116, 129, 141, 0.1);
    transition: border 250ms ease;
    border-radius: 3px;
    -moz-transition: border 250ms ease;
    text-decoration: none;
    background-color: #FFFFFF;
    margin: 12px;
    cursor: pointer;
}
.session-item:hover {
    border: 1px solid  rgba(116, 129, 141, 0.2);
    box-shadow: 0 5px 12px 0 rgba(116, 129, 141, 0.2);
}


.session-item-title {
    font-size: 18px;
}

.session-item-body {
    font-size: 18px;
    padding: 8px;
}

.session-item-link {
    text-decoration: underline;
    cursor: pointer;
}

.page-header {
    margin-bottom: 4px;
}

.entry-item {
    margin: 8px;
    padding: 10px;
    line-height: 40px;
}

.subject-tag {
    align-items: center;
    flex-shrink: 0;
    height: 18px;
    border-radius: 3px;
    padding-left: 6px;
    padding-right: 6px;
    font-size: 14px;
    line-height: 120%;
    color: rgb(55, 53, 47);
    background: rgba(0, 135, 107, 0.2);
}