.login-button {
    width: 155px;
    text-align: center;
}

.login-link {
    width: 155px;
    text-align: center;
}

.action {
    height: 28px;
}

.action-row {
    margin-top: 8px;
    padding-top: 4px;
}