.header-brand {
	font-weight: bold;
	text-decoration: none;
	
	.Link{
		text-decoration: none;
	}
}

.header-nav-right {
	font-size: 16px;
}

.navbar-item {
	a {
		text-decoration: none;	
	}
}

.navbar-start {
	a {
		text-decoration: none;
	}
}

.navbar-brand {
	a {
		text-decoration: none;
		font-weight:  bold;
	}
}

.header-logo {
	height: 50px;
}
