// Colors

// The color palette
$palette: (
	light: (
		1: #FFFFFF,
		2: #F3F5F8,
		3: #E7ECF2
	),
	dark: (
		1: #101D2D,
		2: #627183,
		3: #95A4B4
	),
	// primary: (
	// 	1: #2174EA,
	// 	2: #5091EE,
	// 	3: #135CC5,
	// 	4: #E2EEFF
 	// ),
	// secondary: (
	// 	1: #2BBF96,
	// 	2: #66D1B3,
	// 	3: #25A380,
	// 	4: #DAF2EB
	// ),
	primary: (
		1: #1ba94c,
		2: #1ba94c,
		3: #13c572,
		4: #E2EEFF
 	),
	secondary: (
		1: #5091EE,
		2: #135CC5,
		3: #25A380,
		4: #DAF2EB
	),
	alert: (
		error: #FF6157,
		warning: #FFB471,
		success: #2BBF96
	)
);

// Base typography: color
$color: (
	heading:				get-color(dark, 1),
	base: 					get-color(dark, 2),
	high-contrast: 			get-color(dark, 1),
	mid-contrast: 			get-color(dark, 2),
	low-contrast: 			get-color(dark, 3),
	primary:				get-color(primary, 1),
	secondary:				get-color(secondary, 1),
	error:					get-color(alert, error),
	warning:				get-color(alert, warning),
	success:				get-color(alert, success),
	// ↓ Inverted colors
	heading-inverse:		get-color(light, 1),
	base-inverse:			get-color(dark, 3),
	high-contrast-inverse: 	get-color(light, 1),
	mid-contrast-inverse: 	get-color(dark, 3),
	low-contrast-inverse: 	get-color(dark, 2)
);

// Borders and dividers: color
$border--color: (
	divider:			get-color(light, 3),
	divider-inverse:	rgba(get-color(dark, 2), .24)
);

// Icons: fill color
$icon--color: (
	hamburger:				get-color(dark, 2),			// hamburger icon
	accordion:				get-color(primary, 1),		// accordion icon
	social: 				get-color(primary, 1),		// social icons
	social-hover: 			get-color(primary, 2),		// social icons (:hover)
	modal:					get-color(dark, 3),			// modal icon
    modal-hover:			get-color(dark, 2),			// modal icon (:hover)
    news-more:			    get-color(primary, 2),		// news - read more link arrow
	// ↓ Inverted colors
	hamburger-inverse:		get-color(dark, 3),	    	// hamburger icon
	accordion-inverse:		get-color(dark, 3), 		// accordion icon
	social-inverse: 		null,						// social icons
	social-hover-inverse: 	null						// social icons (:hover)
);

// Misc elements: background color
$bg--color: (
	body: 			get-color(light, 1),
	body-shadow:	0 20px 48px rgba(get-color(dark, 1), .1),	// body shadow when a boxed layout is used (set to null if don't want a shadow)
	body-outer:		get-color(light, 2),						// outer bg color when a boxed layout is used
	bg-color: 		get-color(dark, 1),							// .has-bg-color helper class
	shadow: 		0 4px 16px rgba(get-color(dark, 1), .08),	// .has-shadow helper class
	code: 			get-color(light, 2),
	code-inverse:	darken(get-color(dark, 1), 3%)
);
